body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.flexible-container {
  display: flex;
  margin: 0 0 120px 0;
}
.orange {
  color: orange;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

p {
  text-align: justify;
}
.half-side {
  width: 50%;
  padding-left: 5%;
}
.half-side img {
  width: 80%;
}
.hireme {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  font-weight: 500;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.drembig {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  width: 40%;
  margin: 0 5% 0 5%;
  padding: 0 20px 0 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 8px;
}
#full-dev-ex {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
#mern-dev-ex {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
